$controller-background: rgba(0, 0, 0, 0.25);
$primary-color: $brand-primary;
$highlight-color: $brand-highlight;

.video-js {
  width: 100%;
  height: 100%;
}
.video-js .vjs-tech {
  width: 100%;
  height: 100%;
}
.video-js .vjs-menu-button-inline.vjs-slider-active,
.video-js .vjs-menu-button-inline:focus,
.video-js .vjs-menu-button-inline:hover,
.video-js.vjs-no-flex .vjs-menu-button-inline {
  width: 10em;
}

.video-js .vjs-controls-disabled .vjs-big-play-button {
  display: none !important;
}

.video-js .vjs-control {
  width: 3em;
}

.vjs-playback-rate .vjs-playback-rate-value {
  pointer-events: none;
  font-size: 1.25em;
  font-weight: 700;
  line-height: 2.5;
  text-align: center;
}
.video-js .vjs-menu-button-inline:before {
  width: 1.5em;
}

.vjs-menu-button-inline .vjs-menu {
  left: 3em;
}

.video-js .vjs-mouse-display:after,
.video-js .vjs-play-progress:after {
  padding: 0 0.4em 0.3em;
}

.video-js.vjs-ended .vjs-loading-spinner {
  display: none;
}
.video-js *,
.video-js:after,
.video-js:before {
  box-sizing: inherit;
  font-size: inherit;
  color: inherit;
  line-height: inherit;
}

.video-js.vjs-fullscreen,
.video-js.vjs-fullscreen .vjs-tech {
  width: 100% !important;
  height: 100% !important;
}

.video-js {
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
}

.video-js .vjs-control {
  color: inherit;
}

.video-js .vjs-menu-button-inline:hover,
.video-js.vjs-no-flex .vjs-menu-button-inline {
  width: 8.35em;
}

.video-js
  .vjs-volume-menu-button.vjs-volume-menu-button-horizontal:hover
  .vjs-menu
  .vjs-menu-content {
  height: 3em;
  width: 6.35em;
}

.video-js .vjs-control:focus:before,
.video-js .vjs-control:hover:before {
  text-shadow: 0 0 1em #fff, 0 0 1em #fff, 0 0 1em #fff;
}

.video-js .vjs-spacer,
.video-js .vjs-time-control {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-flex: 1 1 auto;
  -moz-box-flex: 1 1 auto;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  // font-size: 1em;
  // font-weight: 700;
  // letter-spacing: 1px;
}

.video-js .vjs-time-control {
  -webkit-box-flex: 0 1 auto;
  -moz-box-flex: 0 1 auto;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  width: auto;
}

.video-js .vjs-time-control.vjs-time-divider {
  width: 14px;
}

.video-js .vjs-time-control.vjs-time-divider div {
  width: 100%;
  text-align: center;
}

.video-js .vjs-time-control.vjs-current-time {
  margin-left: 1em;
}

.video-js .vjs-time-control .vjs-current-time-display,
.video-js .vjs-time-control .vjs-duration-display {
  width: 100%;
}

.video-js .vjs-time-control .vjs-current-time-display {
  text-align: right;
}

.video-js .vjs-time-control .vjs-duration-display {
  text-align: left;
}

.video-js .vjs-play-progress:before,
.video-js .vjs-progress-control .vjs-play-progress:before,
.video-js .vjs-remaining-time,
.video-js .vjs-volume-level:after,
.video-js .vjs-volume-level:before,
.video-js.vjs-live .vjs-time-control.vjs-current-time,
.video-js.vjs-live .vjs-time-control.vjs-duration,
.video-js.vjs-live .vjs-time-control.vjs-time-divider,
.video-js.vjs-no-flex .vjs-time-control.vjs-remaining-time {
  display: none;
}

.video-js.vjs-no-flex .vjs-time-control {
  display: table-cell;
  width: 4em;
}

.video-js .vjs-progress-control {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 0.5em;
  top: -0.5em;
}

.video-js .vjs-progress-control .vjs-load-progress,
.video-js .vjs-progress-control .vjs-play-progress,
.video-js .vjs-progress-control .vjs-progress-holder {
  height: 100%;
}

.video-js .vjs-progress-control .vjs-progress-holder {
  margin: 0;
}

.video-js .vjs-progress-control:hover {
  height: 1.5em;
  top: -1.5em;
}

.video-js .vjs-control-bar {
  -webkit-transition: -webkit-transform 0.1s ease 0s;
  -moz-transition: -moz-transform 0.1s ease 0s;
  -ms-transition: -ms-transform 0.1s ease 0s;
  -o-transition: -o-transform 0.1s ease 0s;
  transition: transform 0.1s ease 0s;
}

.video-js.not-hover.vjs-has-started.vjs-paused.vjs-user-active .vjs-control-bar,
.video-js.not-hover.vjs-has-started.vjs-paused.vjs-user-inactive
  .vjs-control-bar,
.video-js.not-hover.vjs-has-started.vjs-playing.vjs-user-active
  .vjs-control-bar,
.video-js.not-hover.vjs-has-started.vjs-playing.vjs-user-inactive
  .vjs-control-bar,
.video-js.vjs-has-started.vjs-playing.vjs-user-inactive .vjs-control-bar {
  visibility: visible;
  opacity: 1;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateY(3em);
  -moz-transform: translateY(3em);
  -ms-transform: translateY(3em);
  -o-transform: translateY(3em);
  transform: translateY(3em);
  -webkit-transition: -webkit-transform 1s ease 0s;
  -moz-transition: -moz-transform 1s ease 0s;
  -ms-transition: -ms-transform 1s ease 0s;
  -o-transition: -o-transform 1s ease 0s;
  transition: transform 1s ease 0s;
}

.video-js.not-hover.vjs-has-started.vjs-paused.vjs-user-active
  .vjs-progress-control,
.video-js.not-hover.vjs-has-started.vjs-paused.vjs-user-inactive
  .vjs-progress-control,
.video-js.not-hover.vjs-has-started.vjs-playing.vjs-user-active
  .vjs-progress-control,
.video-js.not-hover.vjs-has-started.vjs-playing.vjs-user-inactive
  .vjs-progress-control,
.video-js.vjs-has-started.vjs-playing.vjs-user-inactive .vjs-progress-control {
  height: 0.25em;
  top: -0.25em;
  pointer-events: none;
  -webkit-transition: height 1s, top 1s;
  -moz-transition: height 1s, top 1s;
  -ms-transition: height 1s, top 1s;
  -o-transition: height 1s, top 1s;
  transition: height 1s, top 1s;
}

.video-js.not-hover.vjs-has-started.vjs-paused.vjs-user-active.vjs-fullscreen
  .vjs-progress-control,
.video-js.not-hover.vjs-has-started.vjs-paused.vjs-user-inactive.vjs-fullscreen
  .vjs-progress-control,
.video-js.not-hover.vjs-has-started.vjs-playing.vjs-user-active.vjs-fullscreen
  .vjs-progress-control,
.video-js.not-hover.vjs-has-started.vjs-playing.vjs-user-inactive.vjs-fullscreen
  .vjs-progress-control,
.video-js.vjs-has-started.vjs-playing.vjs-user-inactive.vjs-fullscreen
  .vjs-progress-control {
  opacity: 0;
  -webkit-transition: opacity 1s ease 1s;
  -moz-transition: opacity 1s ease 1s;
  -ms-transition: opacity 1s ease 1s;
  -o-transition: opacity 1s ease 1s;
  transition: opacity 1s ease 1s;
}

.video-js.vjs-live .vjs-live-control {
  margin-left: 1em;
}

.video-js .vjs-menu-button-popup .vjs-menu {
  left: -3em;
}

.video-js .vjs-menu-button-popup .vjs-menu .vjs-menu-content {
  background-color: transparent;
  width: 8em;
  left: -1.5em;
  padding-bottom: 0.5em;
}

.video-js .vjs-menu-button-popup .vjs-menu .vjs-menu-item,
.video-js .vjs-menu-button-popup .vjs-menu .vjs-menu-title {
  background-color: #151b17;
  margin: 0.5em 0 !important;
  border-radius: 0.3em;
}

.video-js .vjs-menu-button-popup .vjs-menu .vjs-menu-item.vjs-selected {
  background-color: $brand-highlight;
}

.video-js .vjs-big-play-button {
  top: 50%;
  left: 50%;
  margin-left: -1em;
  margin-top: -1em;
  width: 2em;
  height: 2em;
  line-height: 2em;
  border: none;
  border-radius: 50%;
  font-size: 5em;
  background-color: $primary-color;
  color: $highlight-color;
  -webkit-transition: border-color 0.4s, outline 0.4s, background-color 0.4s;
  -moz-transition: border-color 0.4s, outline 0.4s, background-color 0.4s;
  -ms-transition: border-color 0.4s, outline 0.4s, background-color 0.4s;
  -o-transition: border-color 0.4s, outline 0.4s, background-color 0.4s;
  transition: border-color 0.4s, outline 0.4s, background-color 0.4s;
}

.video-js .vjs-load-progress div,
.vjs-seeking .vjs-big-play-button,
.vjs-waiting .vjs-big-play-button {
  display: none !important;
}

.video-js:hover .vjs-big-play-button,
.video-js .vjs-big-play-button:focus,
.video-js .vjs-big-play-button:active {
  background-color: $highlight-color;
  color: $primary-color;
}
// .video-js.vjs-ended .vjs-big-play-button {
//   opacity: 1;
//   display: block !important;
// }

// .video-js.vjs-ended .vjs-big-play-button .vjs-icon-placeholder:before {
//   content: '\f116';
// }

.video-js .vjs-playing .vjs-big-play-button .vjs-icon-placeholder:before {
  content: '\f103';
}
// Hide if the video is playing
.vjs-has-started .vjs-big-play-button {
  opacity: 0;
  pointer-events: none;
}

// Show if the video is paused
.vjs-paused .vjs-big-play-button {
  opacity: 0.8;
  pointer-events: all;
}

.video-js:hover {
  cursor: pointer;
}
.video-js .vjs-control-bar {
  background-color: $controller-background;
  color: #ffffff;
  font-size: 14px;
  line-height: 1.67;
  z-index: 5;
}

.video-js .vjs-play-progress,
.video-js .vjs-volume-level {
  background-color: $brand-highlight;
}

.video-js .vjs-cast-control {
  height: 100%;
  width: 2em;
  padding-right: 5px;
  color: $brand-primary;
}

.vjs-modal-dialog-content {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #000000;
  font-size: 1.5rem !important;
}

.video-js .vjs-poster {
  background-repeat: no-repeat;
  background-size: 100% auto;
}

//videojs-ima

.ima-ad-container {
  top: 0em;
  position: absolute;
  display: none;
  width: 100%;
  height: 100%;
  z-index: 1000 !important;
}

/* Move overlay if user fast-clicks play button. */
.video-js.vjs-playing .bumpable-ima-ad-container {
  margin-top: -4em;
}

/* Move overlay when controls are active. */
.video-js.vjs-user-inactive.vjs-playing .bumpable-ima-ad-container {
  margin-top: 0em;
}

.video-js.vjs-paused .bumpable-ima-ad-container,
.video-js.vjs-playing:hover .bumpable-ima-ad-container,
.video-js.vjs-user-active.vjs-playing .bumpable-ima-ad-container {
  margin-top: -4em;
}

.ima-controls-div {
  bottom: 0em;
  height: 2.4em;
  position: absolute;
  overflow: hidden;
  display: none;
  opacity: 1;
  background: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0 rgba(0, 0, 0, 0.5)),
    color-stop(1em rgba(0, 0, 0, 0.5)),
    color-stop(0%, $controller-background),
    color-stop(100%, $controller-background)
  ); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(
    bottom,
    rgba(0, 0, 0, 0) 0,
    rgba(0, 0, 0, 0.5) 1em,
    $controller-background 0%,
    $controller-background 100%
  ); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(
    bottom,
    rgba(0, 0, 0, 0) 0,
    rgba(0, 0, 0, 0.5) 1em,
    $controller-background 0%,
    $controller-background 100%
  ); /* Opera 11.10+ */
  background: -ms-linear-gradient(
    bottom,
    rgba(0, 0, 0, 0) 0,
    rgba(0, 0, 0, 0.5) 1em,
    $controller-background 0%,
    $controller-background 100%
  ); /* IE10+ */
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0,
    rgba(0, 0, 0, 0.5) 2.1em,
    $controller-background 0%,
    $controller-background 100%
  ); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
  color: #ffffff;
  font-size: 12px;
}

.ima-controls-div.ima-controls-div-showing {
  height: 5.7em;
}

.ima-countdown-div {
  font-family: Arial, Helvetica, sans-serif;
  height: 2em;
  color: #ffffff;
  padding-left: 1em;
  cursor: default;
  font-size: 0.8rem;
}

.ima-seek-bar-div {
  top: 2.12em;
  height: 0.3em;
  position: absolute;
  background: rgba(211, 211, 211, 0.8);
}

.ima-progress-div {
  width: 0em;
  height: 0.3em;
  background-color: #ffd633;
}

.ima-play-pause-div,
.ima-mute-div,
.ima-slider-div,
.ima-fullscreen-div {
  width: 3em;
  height: 1.33em;
  top: 1.3em;
  position: absolute;
  color: #ffffff;
  font-size: 1.8em;
  line-height: 2;
  text-align: center;
  font-family: VideoJS;
  cursor: pointer;
}

.ima-slider-div {
  left: auto;
  right: 3em;
  width: 3.33em;
  height: 0.255em;
  top: 2.2em;
  background-color: #555555;
}

.ima-slider-level-div {
  width: 100%;
  height: 0.255em;
  background-color: #ffd633;
}

.ima-playing:before {
  content: '\00f103';
}

.ima-paused:before {
  content: '\00f101';
}

.ima-playing:hover:before,
.ima-paused:hover:before {
  text-shadow: 0 0 1em #fff;
}

.ima-non-muted:before {
  content: '\00f107';
}

.ima-muted:before {
  content: '\00f104';
}

.ima-non-muted:hover:before,
.ima-muted:hover:before {
  text-shadow: 0 0 1em #fff;
}

.ima-non-fullscreen:before {
  content: '\00f108';
}

.ima-fullscreen:before {
  content: '\00f109';
}

.ima-non-fullscreen:hover:before,
.ima-fullscreen:hover:before {
  text-shadow: 0 0 1em #fff;
}

.video-js *:focus {
  outline: none;
}

.vjs-ad-loading > video {
  opacity: 0;
}
.video-js .vjs-menu-button-popup .vjs-menu .vjs-menu-content {
  background-color: $controller-background;
  color: #ffffff;
}
.video-js .vjs-menu-button-popup .vjs-menu .vjs-menu-item,
.video-js .vjs-menu-button-popup .vjs-menu .vjs-menu-title {
  background-color: transparent;
  border-radius: 0;
  margin: 0;
}
google-cast-launcher {
  --disconnected-color: #ffffff;
}

.video-custom-overlay {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.2);
  height: 100%;
  width: 100%;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 1s linear;
  z-index: 2;

  .overlay-header-title {
    font-size: 1.2rem;

    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  .close-btn {
    img {
      width: 2rem;
      height: 2rem;
    }
  }
  .close-btn:hover {
    cursor: pointer;
  }
  .custom-control-panel {
    display: flex;
    .custom-play-icon {
      opacity: 0.2;
      font-size: 2rem;
      width: 15rem;
      svg {
        height: 4rem;
        width: 4rem;
        path {
          fill: #fff;
        }
      }
      img {
        height: 4rem;
        width: 4rem;
      }
    }
    .custom-play-icon:hover {
      opacity: 1;
    }
  }
}
.vjs-error .video-custom-overlay .custom-control-panel {
  display: none;
}
.custom-ad-overlay {
  visibility: visible;
  opacity: 1;
  background: transparent;
  z-index: 1001;
}
.video-custom-overlay.active {
  visibility: visible;
  opacity: 1;
}
